{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('article_create') }}" method="POST">
                <fieldset>
                    <legend>New Post</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Post Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Post Title"
                                   name="article[title]"  value="Post Title ">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Content</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_content"
                                  name="article[content]" value="Enough for the templates for now, let’s start the blog and see if it works.
                                   To do that we need to open the Terminal/CMD in the root folder of our blog, or use the built-in terminal in PhpStorm (IntelliJ Idea).
                                   Don’t forget to start MySQL if you haven’t by now. Enter the following command:"></textarea>
                        </div>
                    </div>

                    {#<div class="form-group">#}
                        {#<label class="col-sm-4 control-label" for="article_image">Image</label>#}
                        {#<div class="col-sm-4 ">#}
                            {#<input type="file" accept=".jpg, .png" class="form-control" id="article_image" placeholder="Image"#}
                                   {#name="article[image]">#}
                        {#</div>#}
                    {#</div>#}

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}